{% extends "main/base.html" %}

{% block title %}
    Delete Project
{% endblock %}

{% block content %}
<div class="page-card">
    <h1 class="h3">Delete Project</h1>

    <p>
        Should the project
        <strong>{{ object.name }}</strong>
        be deleted?
    </p>

    <form method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            Permamently Delete
        </button>

        <a
            href="{% url 'project-detail' object.pk %}"
            class="btn btn-outline-secondary"
        >
            Cancel
        </a>
    </form>
</div>
{% endblock %}